

h1{
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 50%;
}
h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 38px;
}
p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 23px;
    text-align: justify;
}
.link-button{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 15px;
    border-radius: 15px;
}
body{
    padding: 40px 40px;
}
section{
    display: flex;
    margin-bottom: 100px;
    
}
.color-orange{
    color: rgb(221, 140, 19);
}
.color-tomato{
    color: tomato;
}
.color-yellow{
    color: yellow;
}
.two-div{
    width: 50%;
    margin-left: 50px;
}
.three-div{
    width: 33.33%;
    margin-left: 30px;
}
.div-img{
    width: 500px;
    height: 500px;
}
.sec1h1{
    border-left: 10px solid tomato;
    border-radius: 5px;
    padding-left: 10px;
}
.center-text{
    text-align: center;
}
.illustrator{
    height: 150px;
    width: 150px;
}
.mission{
    background-color: rgb(148, 233, 224);
    border-radius: 30px;
    padding: 20px 20px;
}
.vission{
    background-color: rgb(240, 197, 240);
    border-radius: 30px;
    padding: 20px 20px;
}
.goal{
    background-color: rgb(232, 240, 197);
    border-radius: 30px;
    padding: 20px 20px;
}
.section1{
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 20px;
}

.section3{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-right: 25px;
}
.section4{
    background-image: url(images/shapes/shape-9.png);
    background-repeat: no-repeat;
    border-radius: 20px;
}
footer{
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 50%;
    background-color: rgb(21, 6, 54);
    background-size: 100% 750px;
    border-radius: 15px;
}